.container {
    width: 100vw;
    height: 100vh;
    color: white;
    background: rgba(0, 0, 0, 0)
}

.slidesImg {
    width: 100vw;
    height: 40vh;
    background: white;
    position: absolute;
    bottom: 0;
    background: #f9f5cb;
}

.buttonUp {
    width: 100vw;
    height: 10vh;
    background: #f9f5cb;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40vh;
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.50);
    
}

.imgSlide {
    height: 28vh;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background: #f9f5cb;
}

.slide {
    padding: 10px 0;
    background: #f9f5cb;
}


