.container {
  height: 100vh;
  background: url(https://media.istockphoto.com/vectors/children-seamless-texture-baby-theme-pattern-with-teddy-bear-and-vector-id490856844?s=2048x2048);
  background-size: contain;
  touch-action: pan-y;
  overflow-y: auto;
}

img {
  width: 80vw;
  height: 80vw;
  max-width: none;
  position: absolute;
}

.imgSlide {
  width: 30vw;
  height: 30vw;
}

.slideCol {
  height: 40vw;
  background: rgba(1,1,1,0.3);
}

.slide {
  height: 40vw;
}

.done1 {
  top: 0;
}

.done2 {
  top: 0;
  right: 0;
}

.done3 {
  bottom: 0;
}

.done4 {
  bottom: 0;
  right: 0;
}

.example-container {
  width: 40vw;
  height: 40vw;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}

.pieces-container {
  width: 40vw;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}

.example-list {
  border: solid 1px #ccc;
  width: 40vw;
  height: 40vw;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  position: relative;
}

.example-box {
  padding: 0;
  width: 40vw;
  height: 40vw;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

// @media only screen and (min-width: 600px) {
//   img {
//     width: 50vw;
//     height: 50vw;
//   }

//   .example-container {
//     width: 25vw;
//     height: 25vw;
//   }

//   .pieces-container {
//     width: 25vw;
//   }

//   .example-list {
//     height: 25vw;
//     width: 25vw;
//   }

//   .example-box {
//     height: 25vw;
//     width: 25vw;
//   }
// }


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}