<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="reload()">
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Default Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-row text-center>
    <ion-col>
      <div class="example-container">
        <div id="done1" cdkDropList #doneList1="cdkDropList" [cdkDropListData]="done1"
          [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="evenPredicate">
          <div class="example-box" *ngFor="let item of done1" cdkDrag><img width='100%' height='100%'[src]="item.img"></div>
        </div>
      </div>

      <div class="example-container">
        <div id="done2" cdkDropList #doneList2="cdkDropList" [cdkDropListData]="done2"
          [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="evenPredicate">
          <div class="example-box" *ngFor="let item of done2" cdkDrag><img width='100%' height='100%'[src]="item.img"></div>
        </div>
      </div>
      <div class="example-container">
        <div id="done3" cdkDropList #doneList3="cdkDropList" [cdkDropListData]="done3"
          [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="evenPredicate">
          <div class="example-box" *ngFor="let item of done3" cdkDrag><img width='100%' height='100%'[src]="item.img"></div>
        </div>
      </div>
      <div class="example-container">
        <div id="done4" cdkDropList #doneList4="cdkDropList" [cdkDropListData]="done4"
          [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="evenPredicate">
          <div class="example-box" *ngFor="let item of done4" cdkDrag><img width='100%' height='100%'[src]="item.img"></div>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col>
        <div class="pieces-container">
          <h2>To do</h2>
          <div id="pieces" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList1, doneList2, doneList3, doneList4]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" [cdkDragData]="item" cdkDrag><img width='100%' height='100%'[src]="item.img"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
</ion-content>